@font-face {
  font-family: 'Qebil';
  src:  url('https://github.com/BettyLeg/Fonts/blob/33fee1ba02820e3be2275e198d85a0db681d5176/QEBIL.otf');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
