@font-face {
  font-family: 'Qebil';
  src:  url('https://bettyleg.github.io/Fonts/QEBIL.otf');
  src:  url('https://bettyleg.github.io/Fonts/QEBIL.otf') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
